.carousel {
    padding: $section-triangle-height-mobile 0;
    &::before {
        @include triangle-bottom;
    }
    &::after {
        @include triangle-top;
    }
}

.slider {
    overflow: hidden;
}

.slider__list {
    margin-bottom: 40px;
    white-space: nowrap;
    transition: transform $animation-duration;
    transform: translateX(0px);
}

.slider__slide {
    position: relative;
    white-space: normal;
    display: inline-block;
    vertical-align: bottom;
    max-width: 60%;
    width: 335px;
    margin-left: $gutter;
    margin-right: $gutter;
    padding: 35px 40px;
    background-color: $white; 
    cursor: pointer; 

    &:nth-child(even) {
        margin-bottom: 25px;
    }

    &::after,
    &::before {
        position: absolute;
    }

    &::after {
        color: $white;
        width: 20px;
        text-align: center;
        font-size: 20px;
        left: -8px;
        top: 38px;
    }

    &::before {
        @include fontelloContent('\e802');
        font-size: 40px;
        color: $accent-color5;
        transform: rotate(-7deg);
        top: 22px;
        left: -20px;
        transition: color 0.5s;
    }

    &.slider__slide--note {
        &::after {
            @include fontelloContent('\e801');
        }
    }
    &.slider__slide--thunder {
        &::after {
            @include fontelloContent('\e805');
        }
    }
    &.slider__slide--chart {
        &::after {
            @include fontelloContent('\e806');
        }
    }
    &.slider__slide--settings {
        &::after {
            @include fontelloContent('\e804');
        }
    }

    &:hover {
        &::before {
            color: $focus;
        }
    }
}

.slider__indicators {
    text-align: center;
}

.slider__indicator {
    background-color: transparent;
    width: 11px;
    height: 11px;
    border: 2px solid $white;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    transition: background-color $animation-duration;

    &.slider__indicator--active {
        background-color: $white;
    }

    & + .slider__indicator {
        margin-left: 5px;
    }
}

@media (min-width: $screen-sm-min) {
    .slider__slide {
        margin-left: $gutter * 2;
        margin-right: $gutter * 2;
        padding: 35px 60px;
        max-width: 100%;

        &::after {
            width: 30px;
            font-size: 25px;
            left: -13px;
            top: 58px;
        }
    
        &::before {
            font-size: 70px;
            left: -35px;
        }
    }
    .carousel {
        padding: $section-triangle-height 0;
    }
}