.carousel {
    padding: $section-triangle-height 0;
    &::before {
        @include triangle-bottom;
    }
    &::after {
        @include triangle-top;
    }
}

.slider {
    overflow: hidden;
}

.slider__list {
    margin-bottom: 40px;
    white-space: nowrap;
    transition: transform $animation-duration;
    transform: translateX(0px);
}

.slider__slide {
    position: relative;
    white-space: normal;
    display: inline-block;
    vertical-align: bottom;
    width: 335px;
    margin-left: $gutter * 2;
    margin-right: $gutter * 2;
    padding: 35px 60px;
    background-color: $white; 
    cursor: pointer; 

    &:nth-child(even) {
        margin-bottom: 25px;
    }

    &::after,
    &::before {
        position: absolute;
    }

    &::after {
        color: $white;
        width: 30px;
        text-align: center;
        font-size: 25px;
        left: -13px;
        top: 58px;
    }

    &::before {
        @include fontelloContent('\e802');
        font-size: 70px;
        color: $accent-color5;
        transform: rotate(-7deg);
        top: 22px;
        left: -35px;
    }

    &.slider__slide--note {
        &::after {
            @include fontelloContent('\e801');
        }
    }
    &.slider__slide--thunder {
        &::after {
            @include fontelloContent('\e805');
        }
    }
    &.slider__slide--chart {
        &::after {
            @include fontelloContent('\e806');
        }
    }
    &.slider__slide--settings {
        &::after {
            @include fontelloContent('\e804');
        }
    }
}

.slider__indicators {
    text-align: center;
}

.slider__indicator {
    background-color: transparent;
    width: 11px;
    height: 11px;
    border: 2px solid $white;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    transition: background-color $animation-duration;
    

    &.slider__indicator--active {
        background-color: $white;
    }
}
