@function calculateRem($size) {
    $remSize: $size / 16px;   //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
}

.container {
    width: 100%;
    max-width: $container-width;
    padding: 0 $gutter;
    margin: 0 auto;
}

.headline {
    font-size: calculateRem(36px);
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
    color: $text-base-color;

    &.headline--big {
        font-size: calculateRem(48px);
    }
    &.headline--small {
        font-size: calculateRem(24px);
    }
    &.headline--inherit-color {
        color: inherit;
    }
}  

.btn {
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
    vertical-align: top;
    min-width: 175px;
    padding: $gutter;
    font-size: calculateRem(14px);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba($accent-color4, 0.3);
    transition: all 0.3s;

    &.btn--white {
        background-color: $white;
        color: $accent-color3;

        &:hover {
            background-color: $focus;
            color: $white;
        }
    }

    &.btn--blue {
        background-image: linear-gradient(to bottom, $accent-color2, $accent-color4);
        color: $white;

        &:hover {
            background-image: linear-gradient(to bottom, $focus, darken($focus, 10%));
        }
    }

    &.btn--stroke,
    &.btn--stroke-gray  {
        border: 1px solid;
        box-shadow: none;

        &:hover {
            border-color: $focus;
            color: $focus;
        }
    }

    &.btn--stroke-gray {
        border-color: $gray;
    }

    & + .btn {
        margin-left: $gutter;
    }
}

.box {
    position: relative;
    overflow: hidden;

    &.box--gradient {
        background-image: radial-gradient(circle at left top, $accent-color1, $accent-color5);
    }
}

.badge {
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 15px 50px $shadow-color;
}

.intro {
    text-align: center;
    margin-bottom: 100px; 
    position: relative;
    z-index: 1;

    &.intro--white {
        color: $white;
    }
}

@mixin fontelloContent($a: '') {
    content: $a;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
}

@mixin triangle($border-width: 0, $border-color: transparent) {
    content: '';
    display: block;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: $border-width;
    border-color: $border-color;
} 

@mixin triangle-bottom {
    bottom: 0;
    @include triangle(0 0 $section-triangle-height 100vw, transparent transparent $white transparent)
}

@mixin triangle-top {
    top: 0;   
    @include triangle($section-triangle-height 100vw 0 0, $white transparent transparent transparent);
}
