$container-width: 1200px;
$gutter: 15px; 
$section-triangle-height: 290px;
$font: 'Nunito Sans', sans-serif;

$white: #ffffff;
$accent-color1: #3cb1e7;
$accent-color2: #3b9feb;
$accent-color3: #3b81e3;
$accent-color4: #3e58e0;
$accent-color5: #4121dc;
$shadow-color: rgba(46, 51, 65, 0.05);

$header-padding-top: 60px;
$text-opacity: 0.7;
$animation-duration: 1s;
$text-base-color: #232632; 
$plain-text-color: rgba($text-base-color, 0.5);
